.git
.gitignore
.dockerignore

.env
.env.*
!.env.example

node_modules
vendor
public/storage
storage/*.key
.phpunit.result.cache
.phpunit.cache
/.vscode
/.idea
/.zed
_ide_helper.php
Homestead.json
Homestead.yaml
docker-compose.yml